<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.craftar.craftarexamples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA_EXTENDED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/craftar_c"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.craftar.craftarexamples.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.craftar.craftarexamples.ARProgrammaticallyActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.craftar.craftarexamples.ARFromCraftARActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.craftar.craftarexamples.RecognitionOnlyActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.craftar.craftarexamples.LaunchersActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.craftar.craftarexamples.HowToActivity"
            android:screenOrientation="portrait" >
            </activity>
        <activity
            android:name="com.craftar.craftarexamples.WebActivity"
            android:screenOrientation="portrait" >
            </activity>
    </application>

</manifest>
